# Адрес для запуска HTTP-сервера.
BACKEND_LISTEN_ADDR=":8000"

# Строка подключения (DSN) к PostgreSQL.
BACKEND_DATABASE_URL="postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable"

# Секретный ключ для подписи JWT-токенов.
BACKEND_JWT_SECRET="..."
